.square {
    width: 250px;
    height: 150px;
    background-color: red;
    margin: 0.5vh 1vw;
}

.square:nth-child(2n) {
    width: 150px;
    height: 150px;
    background-color: rgb(0, 157, 255);
    margin: 0.5vh 1vw;
}

.container1,
.container2,
.container3,
.container4,
.container5,
.container6 {
    margin-bottom: 50px;
    display: flex;
    outline: 3px blue solid;
}

.container1 {
    justify-content: flex-start;
}

.container2 {
    justify-content: flex-end;
}

.container3 {
    justify-content: center;
}

.container4 {
    justify-content: space-between;
}

.container5 {
    justify-content: space-around;
}

.container6 {
    justify-content: space-evenly;
}

h1.code {
    font-family: 'Inconsolata', monospace;
    font-size: large;
}