/* * {
    outline: 3px solid red;
} */

.title,
.body {
    font-family: basic-sans, sans-serif;
}

.title {
    font-weight: bold;
    color: rgb(255, 115, 0);
    text-transform: lowercase;
    outline: 3px solid rgb(10, 247, 81);
    background-color: #2bfadb69;
}

.body {
    background-color: rgba(233, 96, 75, 0.267);
    outline: 3px solid red;
}

.body > p {
    outline: 3px solid rgb(85, 10, 247);
}