@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}

.content-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
}

.header {
    display: flex;
    padding: 5px;
    outline: 3px solid red;
    /* justify-content: space-evenly; */
}

.h-link-container {
    display: flex;
    justify-content: center;
    outline: 3px solid red;
    flex: 1;
}

.logo {
    outline: 3px solid red;
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.section {
    flex: 4 1 0;
}

.section:nth-of-type(2) {
    background-color: #1F2937;
}

.section:nth-of-type(4) {
    background-color: #E5E7EB;
}

.header,
.footer {
    flex: 1 0 auto;
    background-color: #1F2937;
    min-height: 50px;
    display: flex;
}

.footer {
    font-size: 12px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.secondary-txt {
    font-size: 18px;
    color: #E5E7EB
}

.text {
    font-family: 'Roboto', sans-serif;
}