@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}

.content-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
}

.header { 
    display: flex;
    align-items: center;
}

.h-link-container {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.header > * {
    flex: 1;
}

.header-container,
.footer-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.content-body {
    width: 75vw;
    outline: 3px solid red;
}

.body-container {
    display: flex;
    height: 100%;
    background-color: purple;
    outline: 3px solid blueviolet;
}

.content-item {
    flex-direction: column;
    display: flex;
    flex: 1 1 0;
    background-color: red;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: grey;
}

.logo {
    /* outline: 3px solid rgb(0, 179, 255); */
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.section {
    display: flex;
    flex: 4 1 0;
    justify-content: center;
}

.section:nth-of-type(2) {
    background-color: #1F2937;
}

.section:nth-of-type(4) {
    background-color: #E5E7EB;
}

.header,
.footer {
    padding: 10px;
    flex: 1 0 auto;
    background-color: #1F2937;
    min-height: 50px;
    display: flex;
}

.footer {
    font-size: 12px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.secondary-txt {
    font-size: 18px;
    color: #E5E7EB
}

.text {
    font-family: 'Roboto', sans-serif;
}