.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 20px 0 0;
    float: left;
    width: 120px;
    height: 300px;
    padding: 10px;
    border: 1px solid silver;
    margin-top: 10px;
}

.box {
    background: tomato;
    padding: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.code {
    font-size: 1.5em;
    margin: 0;
}

.what {
    display: flex;
    flex-direction: row;
    outline: rgb(29, 240, 255) solid 3px;
    padding: 15px;
    gap: 20px;
    flex-wrap: wrap;
}

.test-container {
    outline: rgb(51, 0, 255) 3px solid;
}

.container1 {
    align-content: flex-start;
}

.container2 {
    align-content: flex-end;
}

.container3 {
    align-content: center;
}

.container4 {
    align-content: stretch;
}

.container5 {
    align-content: space-between;
}

.container6 {
    align-content: space-around;
}