.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 20px 0 0;
    float: left;
    width: 120px;
    height: 300px;
    padding: 10px;
    border: 1px solid silver;
    margin-top: 10px;
}

.box {
    background: tomato;
    padding: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.code {
    font-size: 0;
}

/* .container {
    display: flex;
    gap: 15px;
    max-width: 500px;
    outline: 3px solid blue;
    padding: 15px;
    flex-wrap: wrap;
}

.box {
    width: 100px;
}

div.box:nth-of-type(even) {
    background-color: rgb(255, 0, 234);
    height: 150px;
}

div.box:nth-of-type(odd) {
    background-color: red;
    height: 100px;
}

div.box:nth-of-type(3n+4) {
    background-color: blue;
    height: 50px;
}

.container1 {
    align-content: flex-start;
}

.container2 {
    align-content: flex-end;
}

.container3 {
    align-content: center;
}

.container4 {
    align-content: stretch;
}

.container5 {
    align-content: space-between;
}

.container6 {
    align-content: space-around;
} */